.product-main{
    display: flex;

    @media(max-width:760px){
       flex-direction:column;
       
    }

    .product-wrapper{
        width:100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
        row-gap: 2px;
        
         

        @media(max-width:760px){
           width: 100%;
            
         }

    }
}