.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 70%;
    padding:20%;
    height: auto;
    box-shadow: rgba(0,0,0,0.1)0px 4px 6px -1px,
    rgba(0,0,0,0.06)0px 2px 4px -1px;
    margin: 1.5%;

    @media(max-width:760px){
        width: 90%;
        margin: 5%;
    }

    .product-title{
        font-size: 15px;
        font-weight: bold;
        margin: 0 0 20px 0;
    }
    .product-image{
        width: 80%;
        margin: auto;
    }
    .product-description{
        background: rgb(249, 247, 247);
        color:black;
        border:none;
        width: 90%;
        padding: 5px;
        font-size: 12px;
        cursor: pointer;

        text-align: justify;
        -ms-text-justify: distribute-all-lines;
        text-justify: distribute-all-lines;
    }
    .button-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width:95%;

        .btn{
           background-color: red;
           color: white;
           padding: 10px 10px;
           font-size: small;
           border: none;
           
        }


        @media(max-width:760px){
            width: 80%;
           
        }
    }
}