.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 30%;
    padding: 20%;
    box-shadow: rgba(0,0,0,0.1)0px 4px 6px -1px,
    rgba(0,0,0,0.06)0px 2px 4px -1px;
    margin: 1.5%;

    @media(max-width:760px){
        width: 90%;
        margin: 5%;
    }

    .product-title{
        font-size: 17px;
        font-weight: bold;
        margin: 0 0 20px 0;
    }
    .product-image{
        width: 80%;
        margin: auto;
    }
    .product-description{
        background: var(--colorPrimary);
        color: white;
        border:none;
        padding: 10px 20px;
        font-size: 15px;
        cursor: pointer;
    }
    .button-row{
        display: flex;
        flex-wrap: wrap;
        width: 80%;


        @media(max-width:760px){
            width: 100%;
           
        }
    }
}