.sidebar{
    background-color: #dedede;
    width:20%;


    @media(max-width:760px){
        width: 100%;
        background-color: transparent;
       
    }

    .category-select{
       
    @media(max-width:760px){
       display:none;
       
    } 

    width: 100%;
    margin:2rem 0;
    border:0;
    padding: 15px 10px;
    background-color: var(--colorPrimary);
    color: #fff;
    -webkit-appearance: none;
    appearance: none;
  //  background-image: url("");
   // background-size: 1em;
   // background-position: calc(100% -1.3em) centre;
   // background-repeat: no repeat;
    //border-radius:3px;

}
}