.container {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between space-evenly;
    cursor: pointer;
    background-color: rgb(74, 75, 75);
  
    .shop-icon {
      width: 24px;
      height: 24px;
    }
  
    .count {
      position: absolute;
      font-size: 10px;
      font-weight: bold;
      bottom: 12px;
    }
  }
  