.header{
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    width: auto;
    //position:absolute;
   
    

    .nav-container{
        display: flex;
        max-width: (--maxWidth);
        margin: 0 auto;
        //position: fixed;
      


        .navbar-brand{
            padding: 5px 5px 2px 5px;
            width:20%;

            @media (max-width:767px) {
                width: 30%;

                .logo{
                    width: 100px;
                    height: auto;
                }
                
            }
        }
        .nav-wrapper{
            margin:0;
            padding:0;
            display: flex;
            flex-direction: column;
            width: 70%;
            margin: 0 auto;


            .nav-top{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex: 1;

                @media (max-width:760px){
                    display: none;
                }
                .nav-link{
                    display: inline-block;
                    padding: 5px;
                    margin: 0 15px;
                    text-decoration: none;
                    color: black;

                    &.active{
                        color:var(--colorPrimary);
                        font-weight:bold;
                    }
                    &:last-child{
                        margin-right:0
                    }
                }
            }

            .nav-bottom{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex:1;

               

                .nav-link{
                    display: inline-block;
                    padding: 5px;
                    margin: 0 15px;
                    text-decoration: none;
                    color: black;

                    &.active{
                        color:var(--colorPrimary);
                        font-weight:bold;
                    }
                    &:last-child{
                        margin-right:0
                    }
                }
            }
        }
    }
}